<template>
  <v-responsive > <!-- Making page responsive -->

    <!-- Counter element -->
    <!-- Using v-show and not v-if to keep the element attached to the DOM-->

    <v-card dark  id="counter" ref="counter" v-show="counter != 0" > 
      <v-card-title class="headline">Counter</v-card-title>
        <v-container>
          Number of clicks : {{this.counter}}
        </v-container>     
    </v-card>

    <!-- Circle -->
    <svg height=100 width=100 class="cen">
      <circle cx="50" cy="50" r="50" fill="red" @click="counter_increase()"/>
    </svg>

  </v-responsive>
</template>

<script>

export default {
  data() {
    return {
      counter : 0 // counter variable   
    };
  }, //end data ()

  methods : {
    counter_increase() {
      if (this.counter == 10)
      {
        this.counter = 0; 
      }
      else 
      {
      this.counter = this.counter + 1;
      }
    } // end counter_increase ()
  } //end methods
};
</script>

<style>
#counter {
  position: fixed;
  top : 12%;
  left: 4%;
  width : 12rem;
}
.cen {
  position: fixed;
  top : 42%;
  left: 44%;
}
</style>