
// Page template

<template>
  <v-app>
    <v-app-bar color=#1a237e app> <!-- App bar -->
        <v-toolbar-title class="font-weight-regular white--text display-1">Click Counter</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-avatar size="120">   <!-- FLIBO Logo -->
            <v-img
              :src="require('./assets/logo.png')"
              contain
              position="right"
              height="62"
            />
          </v-avatar>  
    </v-app-bar>  <!-- End of App bar -->
    <Home></Home> <!-- Including Home component -->
  </v-app>
</template>

// Script

<script>

import Home from './components/main.vue' // Including main.vue as Home component
export default {
  name: 'App',
  components: {
    Home
  }
}
</script>
